/ABOUT-NLS
/autom4te.cache/
/build-aux/
/m4/
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/axel.pot
/po/remove-potcdate.sed
/po/stamp-po
/aclocal.m4
/config.h
/config.h.in
/config.log
/config.status
/configure
/stamp-h1
.deps/
.dirstamp
Makefile
!/man/Makefile
Makefile.in
TAGS
*.[1-8]
*.gmo
*.o
*.tar.*
.#*
.*.swp
\#*#*
*~
