aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
Makefile
Makefile.in
po/*.gmo
po/Makefile
po/POTFILES
po/stamp-po
src/*.o
src/.deps
src/axel
src/Makefile.in
stamp-h1
