/autom4te.cache/
/m4/
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/axel.pot
/po/remove-potcdate.sed
/po/stamp-po
/src/axel
/aclocal.m4
/compile
/config.*
/configure
/depcomp
/install-sh
/missing
/stamp-h1
.deps/
Makefile
Makefile.in
TAGS
*.gmo
*.o
*.tar.*
.*.swp
!/man/Makefile
