dist: trusty

language: c

cache:
  ccache: true

addons:
  apt:
    packages:
      - linux-libc-dev
      - autopoint
      - libssl-dev
      - clang

env:
  global:
    - G_CFLAGS="-O3 -fPIC -Werror"
    - MAKEFLAGS="-j4"
  matrix:
    - CONF_FLAGS="--without-ssl"
    - CONF_FLAGS="--with-ssl"

os:
  - linux
  - osx

compiler:
  - gcc
  - clang

matrix:
  exclude:
    - os: osx
      compiler: gcc

install:
  - if [ "$TRAVIS_OS_NAME" = osx ]; then
      brew install gettext openssl;
    fi

script:
  - if [ "${TRAVIS_OS_NAME}" = osx ]; then
      GETTEXT="/usr/local/opt/gettext"
      OPENSSL="/usr/local/opt/openssl";
      export LIBRARY_PATH="$GETTEXT/lib"
             CPATH="$OPENSSL/include:$GETTEXT/include"
             PATH="$GETTEXT/bin:$PATH";
    fi
  - autoreconf -i &&
    ./configure $CONF_FLAGS CFLAGS="$G_CFLAGS" &&
    make DIST_TARGETS=dist-gzip GZIP_ENV=--fast distcheck
